<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="12"
    android:versionName="2.0"
    package="koins.avalonapp" >

    <!-- -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/roundedapplogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game_Setup"
            android:label="@string/title_activity_game__setup"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name=".GameSetup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Directions"
            android:label="@string/title_activity_directions" >
        </activity>
        <activity
            android:name=".Reading"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_reading" >
            <intent-filter>
                <action android:name=".Reading" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
